@font-face {
  font-family: National;
  src: url(./test-national-regular.woff2);
}

html, body {
	margin: auto 0;
	height: 100vh;
	width: 100vw;
	top: 0;
}

body, .App, html, button, input {
	font-family: National;
	text-transform: uppercase;
}

.temp {
	width:130px;
	height:130px;
	border-radius: 40%;
	margin: 2em;
}

/* Sunny */

.hot { 
	position: relative;
	background:linear-gradient( to top right, rgb(123, 205, 253) 0%,
	rgb(186, 234, 248) 100%);
	box-shadow: 1px 1px 30px rgba(161, 173, 173, 0.644);
}

.sun {
	position: absolute;
	top:-10%;
	left:65%;
	width:50px;
	height: 50px;
	border-radius: 100%;
	background:linear-gradient( to bottom left, rgba(255,235,59,1) 0%,
	rgba(249,168,37 ,1) 90%);
	box-shadow: 1px 1px 30px rgba(255, 162, 0, 0.733);
	animation: sunshine 3s infinite linear ;
}

.cloudy-sun {
    position: absolute;
	top:10%;
	left:50%;
	width:50px;
	height: 50px;
	border-radius: 100%;
	background:linear-gradient( to bottom left, rgba(255,235,59,1) 0%,
	rgba(249,168,37,1) 90%);
	box-shadow: 1px 1px 30px rgba(255,160,0,.4);
}


/* Clouds */

.cloudy { 
	position: relative;
	background:linear-gradient( to top right, rgb(110, 192, 247) 0%,
	rgb(153, 221, 255) 60%);
	box-shadow: 1px 1px 30px rgb(99, 119, 131, .8);
}

.cloud {
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border-radius: 1em;
    display: inline-block;
    height: 1em;
    left: 50%;
    margin-left: -1.5em;
    position: absolute;
    top: 30%;
    width: 3em;
    -webkit-filter: drop-shadow(0 2px 3px hsla(0,0%,0%,.25));
    animation: move 5s infinite linear ;
}

.cloud2  {
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border-radius: 1em;
    display: inline-block;
    height: 1em;
    left: 63%;
    margin-left: -1.5em;
    position: absolute;
    top: 50%;
    width: 3em;
    -webkit-filter: drop-shadow(0 2px 3px hsla(0,0%,0%,.25));
    animation: move2 3s infinite linear ;
 }

.cloud:after, .cloud2:after,
.cloud:before, .cloud2:before {
    background-color: #fff;
    content: '';
    border-radius: 100%;
    position: absolute;
}
.cloud:after, .cloud2:after {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
    height: 1em;
    right: .4em;
    top: -.5em;
    width: 1em;
}
.cloud:before, .cloud2:before {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
    height: 1.6em;
    left: .4em;
    top: -.75em;
    width: 1.6em;
}​

.cloudx
{
	position: absolute;
	top:23%;
	left:55%;
	width:60px;
	height: 20px;
	border-radius:10px;
	background-color: rgb(158, 169, 173);
	animation: move 3s infinite linear ;
}


/* Snowy */
.snowy {
	position: absolute;
	top:25%;
	left:70%;
	background:linear-gradient( to top right,rgb(68, 108, 153) 0%,
	rgb(163, 210, 255) 90%);
	box-shadow: 1px 1px 30px rgba(66, 65, 65, 0.521);
}
.snowy li {
	position: absolute;
	list-style: none;
	width: 5px;
	height: 5px;
	border-radius: 100px;
	background-color:rgb(238, 238, 238);
	box-shadow: 1px 1px 30px rgb(236, 230, 230);
	animation: fall 3s infinite linear ;
  opacity:0;
}
.snowy li:nth-child(1) {
top:2%;
left:80%;
}

.snowy li:nth-child(2) {
top:5%;
left:70%;
}

.snowy li:nth-child(3) {
top:10%;
left:60%;
animation-delay: 2s;
}

.snowy li:nth-child(4) {
top:10%;
left:80%;
animation-delay: 2s;
}

.snowy li:nth-child(5) {
top:20%;
left:60%;
animation-delay: 0.5s;
}

.snowy li:nth-child(6) {
top:35%;
left:50%;
background-color: #bbb;
animation-delay: 0.5s;
}

.snowy li:nth-child(7) {
top:23%;
left:40%;
background-color: #bbb;
animation-delay: 0.8s;
}

.snowy li:nth-child(8) {
top:5%;
left:50%;
background-color: #bbb;
animation-delay: 0.8s;
}

.snow-head {
position: absolute;
	top:60%;
	left:40%;
	width:40px;
	height: 40px;
	border-radius:60px;
	background-color: rgb(252, 249, 249);
}

.snow-body {
	position: absolute;
	top:50%;
	left:50%;
	width:15px;
	height: 15px;	
	border-radius:65px;
	background-color: white;
}

.left-arm {
	position: absolute;
	top:60%;
	left:40%;
	width:3px;
	height: 15px;	
	transform: rotate(-45deg);
	background-color: rgb(202, 202, 202);
  z-index: -10;
}

.right-arm
{
	position: absolute;
	top:60%;
	left:70%;
	width:3px;
	height: 15px;	
	transform: rotate(45deg);
	background-color: rgb(202, 202, 202);
  z-index: -10;
}

/* Rain */
.rainy
{
	position: relative;
	/* top:60%;
	left:30%; */
	background:linear-gradient( to top right,rgb(74, 107, 160) 0%,
	rgb(70, 115, 151) 50%);
	box-shadow: 1px 1px 30px rgb(131, 135, 150);

}

.rainy li
{
	position: absolute;
	list-style: none;
	width: 2px;
	height: 5px;
	border-radius: 10%;
	background-color:rgba(155, 188, 201, 0.699);
	opacity:0;
	animation: fall 3s infinite linear ;
	transform: rotate(25deg);
}
.rainy li:nth-child(1)
{
top:55%;
left:30%;
}

.rainy li:nth-child(2)
{
top:50%;
left: 43%;
animation-delay:0.3s;
}

.rainy li:nth-child(3)
{
top:40%;
left:37%;
animation-delay:0.6s;
}



@keyframes sunshine {
	50% {
	opacity: 0.6;

	}
	60%
	{
		opacity: 1;
	}
}

@keyframes move {

	50% {
	transform: translateX(-10px);

	}
}

@keyframes move2 {

	50% {
	transform: translateX(-8px);

	}
}

@keyframes fall {
10%
{
	opacity:0.8;
}

	50% {
	opacity:1;
	transform: translate(-10px,30px);

	}
	100%
	{
		transform: translate(-25px,70px);
	}
}
