@font-face {
  font-family: National;
  src: url(./test-national-regular.woff2);
}

html, body {
	margin: auto 0;
	height: 100vh;
	width: 100vw;
	top: 0;
}

body, .App, html, button, input {
	font-family: National;
	text-transform: uppercase;
}

.temp {
	width:130px;
	height:130px;
	border-radius: 40%;
	margin: 1vw;
}
